.app {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #404354;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.container {
  margin-top: 1rem;
  width: 40rem;
  position: relative;
  overflow: hidden;
}

.resultContainer {
  display: inline-grid;
}
.container img {
  margin-top: 1rem;
  max-width: 100%;
}

.formContainer {
  width: 100%;
  max-width: 800px;
  margin-top: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.formLabel {
  font-weight: bold;
  margin-right: 1rem;
  flex: 1;
  text-align: right;
}

.formInput {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 2;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 22rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 30rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 35rem;
  }
}